body { 
        margin: 0px;
        background-image: url("../imagen/madera-vintage.jpg"); 
        background-position: center center;
}
canvas{
        background-color: white; 
        border: 5px solid #d0d0d0;
        background-position: center center;
}

h3{
        color: white;
}
